{% extends 'base.html' %}
{% load static %}

{% block extra_styles %}
<style>
    body {
        background-color: #1e1e1e;
        color: #ffffff;
        font-family: 'Arial', sans-serif;
        margin: 0;
        padding: 0;
    }

    .centereddiv {
        background-color: #1e1e1e;
        color: #ffffff;
        padding: 20px;
        border-radius: 15px;
        margin: 20px auto;
        width: 50%;
        text-align: left;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    }

    #niftydata {
        margin-top: 20px;
        font-size: 16px;
    }

    .index-header {
        font-size: 24px;
        font-weight: bold;
        color: #90caf9;
        text-align: center;
        margin-bottom: 15px;
    }

    .data-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        font-size: 16px;
    }

    .data-item {
        padding: 10px;
        background-color: #333333;
        border-radius: 8px;
        transition: transform 0.3s ease-in-out, background-color 0.3s ease;
        cursor: pointer;
    }

    .data-item:hover {
        transform: scale(1.05);
        background-color: #444444;
    }

    .data-label {
        font-weight: bold;
        color: #90caf9;
    }

    .data-value {
        color: #fbc02d;
    }

    .data-value.positive {
        color: #00e676;
    }

    .data-value.negative {
        color: #ff1744;
    }

    #search-stock {
            margin: 20px 0;
            padding: 10px;
            margin-left: 2%;
            margin-right: 2%;
            width: 96%;
            border: none;
            border-radius: 8px;
            font-size: 16px;
            background-color: #333;
            color: #fff;
        }

        #search-results {
            margin: 20px 0;
            margin-left: 2%;
            margin-right: 2%;
            width: 96%;
            border-radius: 8px;
            background-color: #333;
        }

        .search-result-item {
            background-color: #444;
            color: #fff;
            padding: 10px;
            margin: 5px;
            border: none;
            border-radius: 8px;
            cursor: pointer;
            width: 100%;
            text-align: left;
            font-size: 16px;
        }

        .search-result-item:hover {
            background-color: #555;
        }

        .no-results {
            color: #ff1744;
            padding: 10px;
            font-size: 16px;
            text-align: center;
        }


    #stock-list {
        margin-top: 20px;
    }

    .stock-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 2% auto;
        width: 90%;
    }

    .stock-item {
        background-color: #222;
        padding: 15px;
        width: 30%;
        margin: 10px;
        border-radius: 8px;
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        transition: background-color 0.3s ease;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    }

    .stock-item:hover {
        background-color: #444;
    }

    .stock-name {
        font-size: 1.5em;
        font-weight: bold;
        color: #90caf9;
    }

    .stock-price {
        color: #fbc02d;
        font-size: 1.3em;
    }

    .stock-item.positive .stock-name,
    .stock-item.positive .stock-price {
        color: #66bb6a; /* Green for positive change */
    }

    .stock-item.negative .stock-name,
    .stock-item.negative .stock-price {
        color: #ef5350; /* Red for negative change */
    }
</style>
{% endblock %}

{% block content %}

<!-- Nifty Data Display -->
<div class="centereddiv">
    <div id="niftydata">
        <div class="index-header">Loading Index Data...</div>
    </div>
</div>

<!-- Stock Search and List -->
<input type="text" id="search-stock" placeholder="Search for stocks...">
<div id="search-results"></div>

<div id="stock-list" class="stock-container">
   Loading all stocks...
</div>

<script>
    const indexes = ['NIFTY 50', 'NIFTY MIDCAP 100', 'NIFTY SMALLCAP 100'];
    let index_len = indexes.length;
    let index = 0;
    const textFileUrl = "{% static 'home/nse_symbols_nifty50.txt' %}";
    let allstocks = [];

    function formatNiftyData(data) {
        const changeClass = data.change < 0 ? 'negative' : 'positive';
        const percChangeClass = data.percChange < 0 ? 'negative' : 'positive';

        return `
            <div class="index-header">${data.indexName}</div>
            <div class="data-grid">
                <div class="data-item">
                    <span class="data-label">Open:</span>
                    <span class="data-value">${data.open}</span>
                </div>
                <div class="data-item">
                    <span class="data-label">High:</span>
                    <span class="data-value">${data.high}</span>
                </div>
                <div class="data-item">
                    <span class="data-label">Low:</span>
                    <span class="data-value">${data.low}</span>
                </div>
                <div class="data-item">
                    <span class="data-label">Previous Close:</span>
                    <span class="data-value">${data.previousClose}</span>
                </div>
                <div class="data-item">
                    <span class="data-label">Last Price:</span>
                    <span class="data-value">${data.last}</span>
                </div>
                <div class="data-item">
                    <span class="data-label">Change:</span>
                    <span class="data-value ${changeClass}">${data.change}</span>
                </div>
                <div class="data-item">
                    <span class="data-label">Perc Change:</span>
                    <span class="data-value ${percChangeClass}">${data.percChange}%</span>
                </div>
                <div class="data-item">
                    <span class="data-label">Volume Traded:</span>
                    <span class="data-value">${data.totalTradedVolume.toLocaleString()}</span>
                </div>
                <div class="data-item">
                    <span class="data-label">Traded Value:</span>
                    <span class="data-value">₹${data.totalTradedValue.toLocaleString()}</span>
                </div>
                <div class="data-item">
                    <span class="data-label">Time:</span>
                    <span class="data-value">${data.timeVal}</span>
                </div>
            </div>
        `;
    }

    function fetchnifty(index) {
        const encodedIndex = encodeURIComponent(index);
        const url = `/dashboard/indexdisplay/?index=${encodedIndex}`;
        
        fetch(url)
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(data => {
            const formattedData = formatNiftyData(data);
            document.getElementById('niftydata').innerHTML = formattedData;
        })
        .catch(error => {
            console.error('Error fetching Nifty data:', error);
            document.getElementById('niftydata').innerText = "Error fetching data";
        });
    }

    function callindexes() {
        index = index % index_len;
        fetchnifty(indexes[index]);
        index++;
        setTimeout(callindexes, 15000);
    }

    function formatStockData(data) {
        const changeClass = data.priceInfo.pChange >= 0 ? 'positive' : 'negative';
        const encodedSymbol = encodeURIComponent(data.info.symbol);
        return `
        <div class="stock-item ${changeClass}" onclick="window.open('/stock/${encodedSymbol}','_blank')">
            <span class="stock-name">${data.info.companyName}</span>
            <span class="stock-price">₹${data.priceInfo.lastPrice}</span>
        </div>
        `;
    }

    // Function to get the CSRF token from cookies
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    function fetchstockdetails(stockSymbolsArray) {
        const url = `/dashboard/allstockdisplay/`;
        const csrftoken = getCookie('csrftoken');  // Get CSRF token from cookies

        fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',  // Specify JSON format
                'X-CSRFToken': csrftoken  // Add CSRF token to headers
            },
            body: JSON.stringify({ symbols: stockSymbolsArray })  // Convert array to JSON and send in body
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();  // Parse the JSON response
        })
        .then(data => {
            let ret = "";
            for (const key in data) {
                ret += formatStockData(data[key]);  // Assuming formatStockData formats stock info
            }
            document.getElementById("stock-list").innerHTML = ret;  // Display the formatted stock data
        })
        .catch(error => {
            console.error('Error fetching stock data:', error);
            document.getElementById('stock-list').innerText = "Error fetching data";
        });
    }

    async function loadTextFile() {
        const response = await fetch(textFileUrl);
        const text = await response.text();
        allstocks = text.split('\n');          
        console.log(allstocks);                         
    }

    // Add event listener for stock search
    function addStockSearchListener() {
        const searchInput = document.getElementById('search-stock');
        const searchResults = document.getElementById('search-results');

        searchInput.addEventListener('input', function() {
            const query = searchInput.value.toLowerCase();
            searchResults.innerHTML = ''; // Clear previous results

            if (query) {
                // Filter allstocks based on the query
                const matches = allstocks.filter(stock => stock.toLowerCase().includes(query));
                
                if (matches.length > 0) {
                    matches.forEach(stock => {
                        // Assuming `stock` is just the symbol; you can modify the display logic
                        const resultItem = document.createElement('button');
                        resultItem.className = 'search-result-item';
                        resultItem.textContent = stock;
                        resultItem.onclick = () => window.open(`/stock/${stock}`, '_blank');
                        searchResults.appendChild(resultItem);
                    });
                } else {
                    searchResults.innerHTML = '<div class="no-results">No matches found</div>';
                }
            }
        });
    }

    window.onload = async function() {
        await loadTextFile();
        callindexes(); // Start fetching Nifty data
        fetchstockdetails(allstocks); // Fetch stock data
        addStockSearchListener(); // Add stock search functionality
        // Refresh stock data every minute
        setInterval(() => fetchstockdetails(allstocks), 60000);
    };
</script>


{% endblock %}
